/* patient-page.component.css */

.patient-page-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  h2 {
    color: #28a745;
  }
  
  table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  div {
    margin-top: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  select, button {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  /* Add/Edit Appointment Popup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999; /* Adjust the z-index as needed to ensure the popup appears above other elements */
  border-radius: 8px;
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

/* Add more styles as needed for labels, selects, and buttons */

  