/* doctor-page.component.css */

.doctor-page-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  h2 {
    color: #007bff;
  }
  
  table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  form {
    margin-top: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input, select, button {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
/* Add this CSS to your component's styles or your global styles */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; /* Set your desired background color */
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Set a higher z-index to make sure it appears on top of other elements */
}

.popup-content {
  text-align: center;
}

/* Add this if you want to create an overlay behind the pop-up */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 998; /* Set a z-index lower than the pop-up */
}

/* Add this CSS to your component's styles or in a separate styles file */

.notification-container {
  position: relative;
  margin-top: 20px;
  width: max-content;
  /* make the notificcation container at right of page */
  float: right;
}

.notification-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius:calc(1em / 2);
  outline: none;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notification-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  display: none;
}

.notification-list ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

.notification-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Show the notification list when the button is clicked */
.notification-container:hover .notification-list {
  display: block;
}
