<!-- signin.component.html -->

<div class="signin-container">
  <h2>Login</h2>

  <form (ngSubmit)="signIn()">
    <div class="form-group">
      <label for="fullName">Full Name:</label>
      <input type="text" id="fullName" name="fullName" [(ngModel)]="fullName" required>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>

    <div class="form-group">
      <label>User Type:</label>
      <label>
        <input type="radio" name="userType" value="patient" [(ngModel)]="userType" required>
        Patient
      </label>
      <label>
        <input type="radio" name="userType" value="doctor" [(ngModel)]="userType" required>
        Doctor
      </label>
    </div>

    <button type="submit">Sign In</button>
  </form>

  <p class="signup-link">Don't have an account? <a routerLink="/signup">Sign Up</a></p>
</div>
